/* .layout{
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
} */
.layout{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* .main{
    width: 100% ;
    overflow: hidden;
    display: flex;
    position: relative;
} */

.main {
    width: 100%;

    padding:  0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
